Thumbs.db
*.aps
*.aws
*.pdsbak
*.atsuo
*.xml
*.workspace
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/

# ---- 2026-09-20 보강 ----
*.o
*.d
*.a
*.elf
*.map
*.lss
*.lst
*.srec
*.hex
*.eep
*.bin
*.dblite
*.sconsign*
*.pdom
*.index
*.tree
*.md5
*.prefs
*.ino.cpp
*.mp4
*.MOV
*.mov
*.avi
*.mkv
*.wmv
.pio/
.vs/
.vscode/
.metadata/
__vm/
__pycache__/
desktop.ini
.DS_Store
default/
